# Maven targets and outputs
**/target/
**/*.class
**/*.jar
**/*.war
**/*.log

# Maven wrapper
**/.mvn/wrapper/maven-wrapper.jar

# IDE specific files
.idea/
**/*.iml
**/*.iws
**/*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated
.sts4-cache

# OS files
.DS_Store
Thumbs.db
